<p id="notice"><%= notice %></p>

<div class="jumbotron">
<h2>Yelpdemo is the best way to find reviews on local restaurants.</h2>
<h3>Explore the favorite diners, pastry shops, and eateries in your community.<br>
Leave reviews and ratings for your fellow foodies.</h3>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.website %></td>
        <td><%= link_to 'Show', restaurant, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-link"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-link" %>

<%= image_tag "https://00e9e64bac645ef3a57117ee65ec60f498837a9152315968f1-apidata.googleusercontent.com/download/storage/v1_internal/b/kenzzzo82storage/o/uploads%2Fhappy_footer.png?qk=AD5uMEuHaO8LTuiKSvP1JmUrfCMxgJ4tIC_p_bIq6Bo--H6HA_EAd71Yj664ueh8VqhxKseqyOOiaskZSNQBfOieJlVdKdX4PVNV7LjgoGaRjJ_lGrpNKGhzFSdXhzRjjTzjTPaDB3Rlx4RTX0eVVTmDm-13sl2Kiztp5K0RJaDtT7vtjKpaO9fDq67sXTX72yxoQq7DGIjbt8qtsnl81oDa09DMTT8b_WssLbawkqpIDlzl7q2cbFB1WGddAJE-ru_8fmXM-9TY8PHioqDAQl4PikqdouCT6fY5Qw1t4XmHqyFlXNDW2HcOsfK4nv-gzzEyq9yb-Gp-4ghC40WThCzuD4FPBvjEbISGE2olTve2Lo6KtBTXhEFXpMFpQHVLUMCD8lxkpId5Gv6YYwfjwhsZDZjZGgW96hgyx14tP6ldOgsJaRwsuBb2lOa2t5p1NRrEzRW4DUPBMt1M72FgLPWymx0aXeJkaRr8uEj6G_ZXgwkwJU-0pemcRdQFbXCkZqDRfbVaYo0hwEJxlaedxGgOifU1444V-EhGsiyoDtfqlEJJf1Auishxg3fC2uOyijpkMAzwJ2Y0I66pb_FJvUHHUpqymKIWhnmYm9duazkRjHc_JF6SuKI3Bxv9THEg2UbOHAdnioRh8fdabB062DaUjT4JRBFAMTVm0MPbmFKtTMpERFWeVXbZOa1vz9IwG0ZW_2Rb5X-F2i4QG1-DkdGr3eel5Uq74PGElgdGFiABsnKPl3H3kxyjUkof4ZOCra9tbtNFqGUBSkoHpfAifgY5uCy_5czysIC4hI6sBAhr4QNDlKmqObKpagk6dWAEWpmWL4bMUm9vmKwCWl2tHztMHtK7RXRJqA" %>
